<div *ngIf="(displaySettings | async)" class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Slideshow</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-flat-button [color]="autoscroll ? 'primary' : ''" (click)="autoscroll = !autoscroll">Slideshow</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Contests</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel *ngFor="let groupName of contestGroups">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ groupName }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button (click)="contest.hidden = !contest.hidden" [color]="contest.hidden ? '' : 'primary'"
          *ngFor="let contest of contestsObj[groupName].groupArray">
          {{contest.OfficeName}}
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let county of counties">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ county.CountyName }} County
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button (click)="contest.hidden = !contest.hidden" [color]="contest.hidden ? '' : 'primary'"
          *ngFor="let contest of contestsObj['County Contests'][county.CountyID].groupArray">
          {{contest.OfficeName}}
        </button>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!(displaySettings | async)" class="grid-container" [ngClass]="{'slideshow': autoscroll}" #contestContainer>
  <ng-container *ngFor="let contest of contests | async">
    <mat-card *ngIf="!contest.hidden">
      <mat-card-header>
        <mat-card-title>{{contest.OfficeName}}</mat-card-title>
        <mat-card-subtitle class="clickable" (click)="precinctPercentage = !precinctPercentage">{{ precinctPercentage ?
          (contest.NumberOfPrecinctsReporting / contest.TotalNumberOfPrecinctsVotingForTheOffice * 100 |
          number:'1.0-1') + '% of'
          : contest.NumberOfPrecinctsReporting + ' of ' + contest.TotalNumberOfPrecinctsVotingForTheOffice }} Precincts
          Reporting</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <mat-list>
          <ng-container *ngFor="let choice of contest.ChoicesArray; last as isLast">
            <mat-list-item *ngIf="!isLast || choice.PartyAbbreviation !== 'WI'" class="clickable" (click)="votePercentage = !votePercentage"
              [matBadge]="choice.PartyAbbreviation !== 'WI' && choice.PartyAbbreviation !== 'NP' ? choice.PartyAbbreviation[0] : ''"
              matBadgePosition="before" [ngClass]="[choice.PartyAbbreviation[0], choice.CandidateName]">{{
              choice.CandidateName }}<span class="vote-count">{{votePercentage &&
                contest.TotalNumberOfVotesForOfficeInArea > 0 ?
                (choice.VotesForCandidate /
                contest.TotalNumberOfVotesForOfficeInArea * 100 | number:'1.1-1') + '%' : choice.VotesForCandidate}}</span>
              <div class="fill-bar" [ngStyle]="{'width': contest.TotalNumberOfVotesForOfficeInArea ? choice.VotesForCandidate / contest.TotalNumberOfVotesForOfficeInArea * 100 + '%' : '0%'}"></div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>