.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  flex-grow: 1;
}

.donate {
  height: 1.25em;
  overflow: hidden;
  opacity: 0.25;

  img {
    height: 100%;
  }
}
